<body style="color:#6521B8; Background-color:#AC1534">
  <h1 style="color:green">ABOUT PAGE</h1>
  <p>This is the place to learn about the developers of this great website</p>
  <p style="padding:20px">here is an Image of the great developer
    <img src="C:\Users\Regin\OneDrive\Pictures\Camera Roll/WIN_20211118_01_43_51_Pro.jpg" alt="Ndung'u William">

  </p>
  <footer>
    <div>
      <a href="{% url 'home' %}">Lets go Home</a>
      <br>
      <!-- <a href="{% url 'password' %}">Password page</a> -->

    </div>
  </footer>

</body>
